.rowWrap {
    margin: 0;
    padding: 80px;
}

.linkAbout {
    text-align: center;
    transition: 0.5s transform;
    text-decoration: none;
}

.linkAbout:hover {
    transform: scale(1.2);
}

.linkAbout a {
    text-decoration: none;
    color: #2e2e2e;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}


