/* .wrapper {
    margin: 20px;
}

.dropdown {
    display: inline-block;
    width: 30%;
    min-width: 200px;
    margin-left: 20px;
    border: none;
    box-shadow: 2px 2px 2px grey;
    background-color: rgb(235, 182, 8);
    border-radius: 2px;
    color: black;
}

.dropdownTextB4 {
    display: none;
    position: relative;
    color: gray;
}

.dropdownTextAft {
    display: inherit;
    position: relative;
    animation: 2s ease-in;
    color: gray;
} */
